@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  background-image: url("../pics/1336125.jpg");
	/* background: #f9f9f9; */
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
  background-image: url("../pics/1336125.jpg");

}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

footer {
  background-color: #124f73;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

div#v-pills-tabContent {
  background-image: url("../pics/1336125.jpg");
  background-repeat: no-repeat;
}

.mb-5{
  color: rgb(18, 29, 25);
  text-align: center;
  text-decoration: dotted;
}

#profileImage
{
    cursor: pointer;
}

#imageUpload
{
    display: none;
}
